*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Open Sans",sans-serif;
}

header{
  height: 90px;
  background: #2f3640;
}

.inner-width{
  max-width: 1000px;
  padding: 0 10px;
  margin: auto;
}

.logo{
  float: left;
  padding: 20px 0;
}

.logo img{
  height: 50px;
}

.navigation-menu{
  float: right;
  display: flex;
  align-items: center;
  min-height: 90px;
}

.navigation-menu a{
  margin-left: 10px;
  text-transform: uppercase; 
  font-size: 14px;
  padding: 12px 20px; 
  border-radius: 4px;
  color: #ddd;
  
}
.navigation-menu a:hover{
  background:#ddd;
  color: #2f3640;
  transform: scale(1.1);
}

.home{
  color: #ff6b6b;
}

.about{
  color: #0abde3;
}

.css{
  color: #055ba1;
}

.score{
  color:rgb(13, 228, 156);
}
.download{
  color: #feca57;
}

.team{
  color: #5f27cd;
}

.contact{
  color: #1dd1a1;
}

